.ad-section{
    ;
}
.ad-container{
    
    width: 800px;
    margin: 0px auto;
    height: 300px;
}
.ad-box{
    background-color: cadetblue;
    display: inline-block;
    height: 291px;
    width: 187px;
    margin: 4px;
}

.first-img{
    height: 150px;
    width: 187px;
}
.second-img{
    height: 150px;
    width: 187px
}
.third-img{
    height: 150px;
    width: 187px
}
.fourth-img{
    height: 150px;
    width: 187px
}
