body{
    font-family: 'Arimo', sans-serif;
    font-family: 'Poppins', sans-serif;


}
/* "Main page" section is starting. -->  */
 #main-page-top{
    border-bottom: 1px solid lightgrey;
    padding: 10px;
         
}
   .container{
    /* border: 1px solid green;  */
    margin: 0px auto;  
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.main-page-element span{
    margin-left: 5px; 
    font-size: 12px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.main-page-element span:hover{
    color:#dc3545;
}
/* "Main page" section is over. */

/* "Navigation bar" is starting. */
#navigation-bar{}
    /* border: 1px solid red; */   

.navigation-bar-icon{
    width: 165px;
    height: 80px;
}
.navigations{
    width: 720px;
}
.navigation-bar-item{
    margin-top: 30px;
    margin-left: 50px;
    display: inline-block;
    transition: 0.5s;
}

img{
    border-top: 0px;
    height:80px;
    width: 90px;
}
.ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 500px;
    cursor: pointer;
    transition: 0.5s;
}
.navigation-bar-item span:hover{
    color:#dc3545;
}