.menu-part{
    border: 1px solid black;
    padding: 10px;
    background-color: #4a1e02;    
}
.menu-part-container{
    border: 1px solid red;
    margin: 0px auto;    
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.page-icon{ 
    border: 1px solid blue;
    
}
.menu-parts{
    border: 1px solid brown;
    width: 825px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
  
}